
body
{
 /*width: 100%; taille du navigateur  à modifier*/

   margin:0 auto; /* Pour centrer notre page */
   margin-top: 0px; /* Pour éviter de coller avec le haut de la fenêtre du navigateur. Essayez d'enlever pour voir ! */
   margin-bottom: 20px;    /* Idem pour le bas du navigateur */
   background:  url("images/fond.jpg")50% 0 no-repeat;
font:20px/ 30px arial; /* espace ligne*/
   background-position: center;
   background-attachment:fixed; /* fond d'écran fixe*/
}

#image
{
/*margin: auto; */
  margin: 0 auto;
 margin-top: 10px;
  margin-bottom: 10px;
width: 1024px;
 position: center;
	height: 300px;
	background:  url("images/membre4.png")100%  0 no-repeat;
 background-position:  center ;
}
#en_tete
{
 /*margin: auto; */
  margin: 0 auto;
 margin-top: 10px;
width: 1024px;
 position: center;
	height: 150px;
	background:  url("images/banniere.jpg")  ;
 background-position:  center ;
}
#info fieldset
{
border: none;
border-bottom:1px solid #C0C0C0;
text-align: left;
padding: 10px;
}
#event tr
{
 background: #C0C0C0;
}
#menu
{ 

    margin: 0 auto;
    display: block;
	position:center;
    overflow: hidden;
	width: 1024px;
	height: 40px;
    background: rgba(48, 48, 48, 0.8); /* Une couleur de fond pour le corps */
}
#menuDeroulant
{
 list-style-type: none;
 margin: 0;
 padding: 0;
 border: 0;
}
#menuDeroulant li
{
 float: left;
}
#corps li
{
color: black;
  margin: 0 auto;
    display: block;
	position:center;
    overflow: hidden;
	width: 200px;
	height: 40px;
list-style-type: none;/* enleve puce*/
}
#menuDeroulant .sousMenu
{
display: none;
list-style-type: none;/* enleve puce*/
 margin: 0;
 padding: 0;
 border: 0;
}
#menuDeroulant .sousMenu li
{

 float: none;
 margin: 0;
 padding: 0;
 border: 0;
 width: auto;
 border-top: 1px solid #fff;
 border-right: 1px solid #fff;
}
#info li
{
 display: block;
 height: 2%;
 color: #FFF;
 margin: 0;
 padding:auto;
 text-decoration: none;
 float: left;
 padding: 0;
 border: 0;
}
#menuDeroulant li a:link, #menuDeroulant li a:visited
{
 display: block;
 height: 1%;
 color: #FFF;
 margin: 0;
 padding: 7px 48px;
 border-right: 1px solid #fff;
 text-decoration: none;
}
#menuDeroulant li a:hover { background-color: #F2462E; }
#menuDeroulant li a:active { background-color: #5F879D; }

#menuDeroulant .sousMenu li a:hover
{
 background-image: none;
 background-color: #F2462E;
}
#resultat h3
{
text-align: left;
}
#corps
{
    margin: 0 auto;

width: 1024px;
 text-align: center; /* Pour centrer le titre */
/*margin-top: 15px;*/
 display: block;
  position: center;
   margin-bottom: 20px; /* Ca c'est pour éviter que le corps colle trop au pied de page en-dessous */
   padding: 1px; /* Pou éviter que le texte à l'intérieur du corps ne colle trop à la bordure */
   color: Black;
  background: rgba(255, 255, 255, 0.5); /* Une couleur de fond pour le corps */
  background-position: center;
   border: 1px solid #ffffff;

}

 #formulaire
 {
font:20px arial;
 text-align: left;
 }
#formulaire p
 {

 background: #C0C0C0;
 
 }
 #formulaire  label 
 {
  margin-left: 100px;
	display: block;
	width: 250px;
	float: left;
 }
 #formulaire input
 {	
 font:20px arial;
  margin-left:50px;

 }
#int_corps
{
 margin: 10;
 padding: 10px;
 }
#news
{

padding: 0px; 
float: right;
/*position:absolute;*/
 border-radius: 10px;
 margin-top: 15px;
margin-right:10px;
width:300px; 
border: none;
font:15px/ 20px arial; /* espace ligne*/
	}
#news fieldset
{
border:1px solid #C0C0C0;
border-radius: 10px;
margin:5px;
}
#font_page
{
 text-align: center; /* Pour centrer le titre */
font-size: 10px;
width: 1024px;
 margin: 0 auto;
 position: center;
}
